:root {
	--bg-color: #F1F1E6;
	--text-color: #0e4749;
	--accent-color: #00C599;
	--title-font: 'Sofia Sans';
	--text-font: 'Inter';
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--bg-color);
}

#navbar{
	width: 90%;
	height: 3vh;
	margin-top: 5vh;
	margin-bottom: 10vh;
	padding: 0 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
}

.nav-home{
	margin-right: auto;
	font-family: var(--title-font);
	font-size: 2.5rem;
	text-decoration: none;
	color: var(--text-color);
	transition: all 0.3s ease-in-out 0s;
}

.nav-social path{
	fill: var(--text-color);
	transition: all 0.3s ease-in-out 0s;
}

.nav-social{
	height: 2rem;
	width: 2rem;
}

.nav-home:hover{
	color: var(--accent-color);
}

.nav-social path:hover{
	fill: var(--accent-color);
}

#about-us {
	width: 90%;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	gap: 10%;
}

#about-us-title {
	font-family: var(--title-font);
	color: #0e4749;
	font-size: 3em;
	font-weight: lighter;
	margin-bottom: 1rem;
}

#about-us-body {
	font-family: var(--text-font);
	color: var(--text-color);
	font-size: 1.5rem;
}

#about-us-img {
	display: flex;
	align-items: center;
}

#about-us-svg {
	width: 27.5rem;
	height: 27.5rem;
}

/* TODO Fix SVG hover problem*/
/* TODO Crop the svg */
/* TODO Add Go to pages button */
