*{
	font:status-bar;
	font-size: 4.5vw;
}
body{
	background-image: url("IMG/blue_p6b.gif");
}
.P{
	background-image: url("IMG/P.gif") !important; 
}
#Informations{
	border: 5px solid grey;
	border-radius: 30px;
	background: white;
	width: 50%;
	padding: 5px;
	margin: 20px;
}
#Containers{
	border-radius: 100px;
	background: white;
	width: 50%;
	padding: 5px;
	margin: 20px;
}
.Papers .Thoughts{
	padding: 5px;
}
.Papers:hover{
	background-color: lightblue;
	border-radius: 50px;
	transition: 1s all ;  
}
.Thoughts:hover{
	background-color: lightblue;
	border-radius: 50px;
	transition: 1s all ;   
}