:root {
	--bg-color: #F1F1E6;
	--text-color: #0e4749;
	--accent-color: #00C599;
	--title-font: 'Sofia Sans';
	--text-font: 'Inter';
}

*{
	margin: 0;
	padding: 0;
}

body{
	background-color: var(--bg-color);
}

#navbar{
	width: 90%;
	height: 3rem;
	margin-top: 2em;
	padding: 0 5%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	gap: 2rem;
}

.nav_home{
	margin-right: auto;
	font-family: var(--title-font);
	font-size: 2.5rem;
	text-decoration: none;
	color: var(--text-color);
	transition: all 0.3s ease-in-out 0s;
}

.nav_social path{
	fill: var(--text-color);
	transition: all 0.3s ease-in-out 0s;
}

.nav_social{
	height: 2rem;
	width: 2rem;
}

.nav_home:hover{
	color: var(--accent-color);
}

.nav_social path:hover{
	fill: var(--accent-color);
}

/* TODO Fix SVG hover problem*/
/* TODO Organize the files */